/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
/.env
*.log
backups/
build/
*.*~
*.bak
*.dia.autosave
*.log
*.orig
*.pyc
*.swo
*.swp
*.vim
*.xls
.project
.pydevproject
.#*
reports/
sqlite.db
mytags
test_debug.py
.ropeproject
#*
.emacs.*
*_flymake.py
venv/
venv3x/
bkp/
uploads/
test_data.json
*~
local_settings.py
logs/
lock
