<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{STATIC_URL}}assets/img/favicon.png">
    
    <title>Centipair | IT Services & Consulting | Enterprise Solutions | Mobile Devlopment | Outsourcing </title>
    
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- Fonts from Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'> 
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    {% style "/css/custom.css" %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{STATIC_URL}}https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="{{STATIC_URL}}https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><b>[C]</b> Centipair Technologies Private Limited</a><br/>
	  
        </div>
      </div>
    </div>

    <div id="headerwrap">
      <div class="container">
	<div class="row"  id="banner-1">
	  <div class="col-lg-6">
	    <h1>Data analytics & Business Intelligence</h1>
	    	<button type="submit" class="btn btn-warning">Learn More</button>
	  </div><!-- /col-lg-6 -->
	  <div class="col-lg-6">
	    <img class="img-responsive" src="{{STATIC_URL}}assets/img/header-img-1.png" alt="" >
	    
	    
	  </div><!-- /col-lg-6 -->
	</div><!-- /row -->
	<div class="row" style="display:none;" id="banner-2">
	  <div class="col-lg-6">
	    <h1>Enterprise Content Management Systems</h1>
	    <h4>Distributed Search</h4>
	    <h4>Document Management</h4>
	    <h4>Deployed on the cloud</h4>
	    <h4>Access from any device</h4>
	  </div><!-- /col-lg-6 -->
	  <div class="col-lg-6">
	    <img class="img-responsive" src="{{STATIC_URL}}assets/img/enterprisecms.png" alt="" style="max-height:360px;">
	    
	    
	  </div><!-- /col-lg-6 -->
	  
	</div><!-- /row -->
	<div class="row" style="display:none;" id="banner-3">
	  <div class="col-lg-6">
	    <h1>Mobile Applications Development</h1>
	    <h4>Cloud Powered Backend API Platform</h4>
	    <h4>Geolocation Enabled</h4>
	    <h4>User Authentication and Management</h4>
	  </div><!-- /col-lg-6 -->
	  <div class="col-lg-6">
	    <img class="img-responsive" src="{{STATIC_URL}}assets/img/header-img-3.png" alt="" style="max-height:360px;">
	    
	    
	  </div><!-- /col-lg-6 -->
	  
	</div><!-- /row -->
	<div class="row" style="display:none;" id="banner-4">
	  <div class="col-xs-6">
	    <h1>Enterprise E-commerce solutions</h1>
	    <h4>Mobile Ready</h4>
	    <h4>Business Intelligence Enabled</h4>
	    <h4>Secure, Stable & Scalable</h4>
	  </div><!-- /col-lg-6 -->
	  <div class="col-lg-6">
	    <img class="img-responsive" src="{{STATIC_URL}}assets/img/enterprise-ecommerce.png" alt="" style="max-height:360px;">
	    
	    
	  </div><!-- /col-lg-6 -->
	  
	</div><!-- /row -->
	<div class="row" style="display:none;" id="banner-5">
	  <div class="col-lg-6">
	    <h1>Cloud setup and deployment services</h1>
	    <h4>Automated developer operations</h4>
	    <h4>Autoscale your applications</h4>
	    <h4>Distributed Content Delivery</h4>
	  </div><!-- /col-lg-6 -->
	  <div class="col-lg-6">
	    <img class="img-responsive" src="{{STATIC_URL}}assets/img/cloud-computing.png" alt="" style="max-height:360px;">
	    
	    
	  </div><!-- /col-lg-6 -->
	  
	</div><!-- /row -->
	
      </div><!-- /container -->
    </div><!-- /headerwrap -->
    
    
    <div class="container">
      <div class="row mt centered">
	<div class="col-lg-6 col-lg-offset-3">
	  <h1>How Good Business Becomes Great!</h1>
	  <h3>Optimal development process for rapid delivery of software</h3>
	</div>
      </div><!-- /row -->
      
      <div class="row mt centered">
	
	<div class="col-lg-4">
	  <i class="fa fa-road" style="font-size:10em;"></i>
	  <h4>Architectural Planning</h4>
	  <p>Making high-level design decisions for optimal performance of sofware by reducing cost and maintenance overhead.</p>
	  
	</div><!--/col-lg-4 -->
	<div class="col-lg-4">
	  <i class="fa fa-hdd-o" style="font-size:10em;"></i>
	  <h4>Enterprise application integration</h4>
	  <p>Unrestricted sharing of data and business processes among any connected application or data sources in the enterprise.</p>
	</div><!--/col-lg-4 -->
	
	<div class="col-lg-4">
	  <i class="fa fa-refresh" style="font-size:10em;"></i>
	  <h4>Product Life Cycle Management</h4>
	  <p> Help you make better decisions about product development, management, design, production and maintenance.</p>
	  
	</div><!--/col-lg-4 -->
      </div><!-- /row -->
    </div><!-- /container -->
    
    <div class="container">
      <hr>
      <p class="centered">Centipair Technologies Private Limited - 2014</p>
      <hr>
      
    </div><!-- /container -->
    
    <!-- Bootstrap core JavaScript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>
</html>
