{% extends "core/views/templates/base.html" %}
{% block title %} Register a new account{% endblock %}
{% block content %}

<form role="form" ng-controller="SubmitCtrl">
  <div class="form-group [{errors.usernameClass}]">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Choose Username" ng-model="form.username">
    <label class="control-label" for="username">[{errors.username}]</label>
  </div>
  <div class="form-group [{errors.passwordClass}]">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="form.password">
    <label class="control-label" for="password">[{errors.password}]</label>
  </div>
  <div class="form-group [{errors.emailClass}]">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Enter email" ng-model="form.email">
    <label class="control-label" for="email">[{errors.email}]</label>
  </div>
  
  <div class="checkbox [{errors.tosClass}]">
    <label>
      <input type="checkbox" ng-model="form.tos"> I agree to terms and conditions
      <br/>
      <label class="control-label" for="tos">[{errors.tos}]</label>
    </label>
  </div>
  <button type="submit" class="btn btn-default" submit url="/register/submit?auth_token=hellowoel">Submit</button>
</form>
{%endblock%}
